/* Style du corps de la page */

@media only screen and  (max-width:600px)
{
body 
    font-family: Arial, sans-serif;
    background-color: #c4c3c3a7;
}


/* Style de l'en-tête */
header {
    background-color: rgba(109, 105, 105, 0.357);
    color: rgb(114, 114, 114);
    text-align: center;
    padding: 10px 0;
}


/* Style des sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255)1);
    border-radius: 40px;
    box-shadow: 0 0 100px rgba(154, 12, 12, 0.1);
    
}

/* espace des titre section */
section h4 {
    margin-bottom: 15px;
}




/* Grandeur de la  section */
li {
    margin-bottom: 5px;
}
 
aside {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #7b7a7a; /* Couleur de fond de la boîte */
    padding: 10px; /* Espace intérieur de la boîte */
    border-top-right-radius: 20px; /* Arrondi le coin supérieur droit de la boîte */
}
